:host {
  display: block;
  width: 100%;
}

::ng-deep .p-toolbar {
  background-color: var(--color-primary) !important;
}

::ng-deep .p-toolbar-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

::ng-deep .p-menubar:not(.p-menubar-mobile) {
  background-color: white !important;
  border-radius: 5px !important;
  padding: 1.5px !important;
}

::ng-deep .p-menubar.p-menubar-mobile {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  width: 100%;
}

::ng-deep .p-menubar .p-menubar-item-link {
  padding: 0.4rem 0.75rem !important;
}

::ng-deep .p-menubar .p-menubar-item-label {
  color: #555;
  transition: color 0.2s;
}

::ng-deep .p-menubar .p-menubar-item:hover .p-menubar-item-label {
  color: var(--color-primary);
}

::ng-deep .p-menubar .p-submenu-list {
  background-color: white !important;
  border: 1px solid #e5e7eb !important;
}

::ng-deep .p-menubar .p-submenu-list .p-menubar-item-label {
  color: #555 !important;
}

::ng-deep .p-menubar .p-submenu-list .p-menubar-item:hover > .p-menubar-item-link {
  background-color: #fdf0f6 !important;
}

::ng-deep .p-menubar .p-submenu-list .p-menubar-item:hover .p-menubar-item-label {
  color: var(--color-primary) !important;
}

::ng-deep .p-menubar .p-menubar-button {
  color: #aaa !important;
}

::ng-deep .p-menubar .p-menubar-button:hover {
  color: #fff !important;
}