footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
}

.footer-icon-link {
  color: #aaa;
  font-size: 1rem;
  transition: color 0.2s, transform 0.2s;
  text-decoration: none;

  &:hover {
    color: #fff;
    transform: translateY(-3px);
  }
}

.footer-copy {
  font-size: 10px;
  color: white;
}