@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  --font-primary: 'Nunito', sans-serif;
}

body {
  font-family: var(--font-primary);
  margin: 0;
}